<div class="mt-4">
  <template x-if="props">
    <div>
      <h2 class="text-center text-2xl font-semibold" x-template>
          ${age} District ${props.district}
      </h2>
      <p :class="{'sm:invisible': age === 'New'}" class="mt-4 leading-normal" x-template>
        The current lawmaker is <b class='font-semibold'>${props.lawmaker_name}</b> (${props.lawmaker_party[0]}).
      </p>
      <p class="mt-4 leading-normal" x-template>
        Of ${$comma(props.party_oth)} registered voters in this district,
        <b class="text-chart-blue text-semibold">${props.per_dem}</b> are registered <b class="text-chart-blue text-semibold">Democrats</b>,
        <b class="text-chart-red text-semibold">${props.per_rep}</b> are registered <b class="text-chart-red text-semibold">Republicans</b>,
        and <b class="text-chart-purple text-semibold">${props.per_other}</b> are unaffiliated or registered for another party.
      </p>
      <div
        class="
          my-8 h-8 flex justify-between
          rounded overflow-hidden shadow-sm
          bg-chart-purple text-white font-semibold leading-none
        "
        aria-hidden="true"
      >
        <div
          class="flex-none truncate flex justify-around items-center bg-chart-blue"
          :style="{width: props.per_dem}"
          :title="`Democrats: ${props.per_dem}`"
        >
          <span x-template>D ${props.per_dem}</span>
        </div>
        <div
          class="flex-none truncate flex justify-around items-center"
          :style="{width: props.per_other}"
          :title="`Others: ${props.per_other}`"
        >
        </div>
        <div
          class="flex-none truncate flex justify-around items-center bg-chart-red"
          :style="{width: props.per_rep}"
          :title="`Republicans: ${props.per_rep}`"
        >
          <span x-template>R ${props.per_rep}</span>
        </div>
      </div>
      <p class="mt-4 leading-normal" x-template>
        TKTK Among people who live here, this district has
      </p>
      <div
        class="
          mt-8 h-8 flex justify-start
          rounded overflow-hidden shadow-sm
          text-white font-semibold leading-none
        "
        aria-hidden="true"
      >
        {{ $rows := slice
          (slice "per_asian" "Asian: " "bg-chart-red")
          (slice "per_black" "Black: " "bg-chart-purple")
          (slice "per_hispanic" "Hispanic: " "bg-chart-blue")
          (slice "per_white" "White: " "bg-chart-green")
        }}
        {{ range $rows }}
          {{ $prop := index . 0 }}
          {{ $label := index . 1 }}
          {{ $class := index . 2 }}
          <div
            class="flex-none truncate flex justify-around items-center {{ $class }}"
            data-prop="{{ $prop }}"
            data-label="{{ $label }}"
            :style="{width: props[$el.dataset.prop]}"
            :title="$el.dataset.label + props[$el.dataset.prop]"
          ></div>
        {{ end }}
        <div
          class="flex-grow truncate flex justify-around items-center bg-chart-orange"
          :title="`Mixed race: ${props.per_mixed} Other: ${props.per_misc}`"
        ></div>
      </div>
      <p class="mt-2 flex flex-wrap gap-4 font-semibold leading-none" x-template>
        <span class="inline-block">
          <span class="inline-block w-3 h-3 bg-chart-red"></span>
          <span class="text-chart-red">Asian: ${props.per_asian}</span>
        </span>
        <span class="inline-block">
          <span class="inline-block w-3 h-3 bg-chart-purple"></span>
          <span class="text-chart-purple">Black: ${props.per_black}</span>
        </span>
        <span class="inline-block">
          <span class="inline-block w-3 h-3 bg-chart-blue"></span>
          <span class="text-chart-blue">Hispanic: ${props.per_hispanic}</span>
        </span>
        <span class="inline-block">
          <span class="inline-block w-3 h-3 bg-chart-green"></span>
          <span class="text-chart-green">White: ${props.per_white}</span>
        </span>
        <span class="inline-block">
          <span class="inline-block w-3 h-3 bg-chart-orange"></span>
          <span class="text-chart-orange">Mixed race: ${props.per_mixed} Other: ${props.per_misc}</span>
        </span>
      </p>
    </div>
  </template>
  <div
    style="height: 300px"
    x-ref="leaflet"
  ></div>
</div>
